{% extends 'base.html' %}

{% block content %}
  <div class="container grey lighten-4" style="padding:2%">
    <div class="center-align">
      <img class="responsive-img" src="http://image.tmdb.org/t/p/w1280/{{allAPI.detail.poster_path}}" style="max-height:600px" >
      <h1> {{allAPI.detail.original_title}}</h1>
      <h5>{{allAPI.detail.overview}}</h5>
      <p>Release date : {{allAPI.detail.release_date}}
    </div>
  
    <div class="container">
    <hr>
    <h6>Also known as :</h6>
    {% if allAPI.atlernative_title %}

        <ul>{% for names in allAPI.atlernative_title.titles %}
          <li style="display:inline-block">{{ names.title }}, </li>
          {% endfor %}
        </ul>
      {% else %}
        <p><em>{{ allAPI.alternative_title.message }}</em></p>

    {% endif %}
    </div>
  
    {% comment %} Keywords Info {% endcomment %}
   <div class="align-content:center">
    <ul style=" display:inline-block">
    {% for keyword in allAPI.keywords.keywords %}
    
    <li style=" display:inline-block"><button class="btn-small">#{{keyword.name}}</button></li>

    
    {% endfor %}</ul>
    </div>
  {% comment %} Cast Crew Info {% endcomment %}
  <div>
  <h3>Cast Members are:</h3>
  <div class="row">
  {% for cast in allAPI.credit.cast %}
        {% if cast.profile_path %}

        <div class="col s12 m4 l3 ">
        
        <p>{{ cast.name }}</p>
        <p>Role : {{ cast.character }}</p>
        
        <img class="responsive-img" src="http://image.tmdb.org/t/p/w185/{{cast.profile_path}}">
        

        </div>
        {% endif %}
        {% endfor %}</div>
  <hr>
   <div>
  <h3>Crew Members are:</h3>
  <div class="row">
  {% for crew in allAPI.credit.crew %}
        {% if crew.profile_path %}

        <div class="col s12 m4 l3">
        
        <p>{{ crew.name }}</p>
        <p>Department : {{ crew.department }}</p>
        
        <img class="responsive-img" src="http://image.tmdb.org/t/p/w185/{{crew.profile_path}}">
        

        </div>
        {% endif %}
        {% endfor %}
    </div>
<br>
<hr>
<br>
{% comment %} Images Info {% endcomment %}
<h4>Gallery </h4>
<div class="carousel">
{% for poster in allAPI.image.backdrops%}
    <a class="carousel-item" href="#one!"><img class="responsive-img" height="300px" src="http://image.tmdb.org/t/p/w780/{{poster.file_path}}"></a>
{% endfor %}
</div>
  {% comment %} Reviews Info {% endcomment %}
  <div class="container">
    <h4> Popular Reviews </h4>
    <hr>
    {% for review in allAPI.reviews.results%}
      <h5>{{review.author}}</h5>
      <q>{{review.content}}</q>
    {% endfor%}

  </div>
  {% comment %} Trailer Info {% endcomment %}
  <div>
    <h4>Trailer : </h4>
    <hr>
    {% for videos in allAPI.video.results%}
      
      <a href="https://www.youtube.com/watch?v={{videos.key}}">{{videos.name}}</a>
      
    {% endfor%}
  </div>


</div>

{% endblock %}